/settings.ini
/*.log
/megSAP_tag.txt

/test/data_amplicon/*.fastq.gz
/test/data_amplicon/*.cram
/test/data_amplicon/*.cram.crai
/test/data_amplicon/*.log
/test/data_amplicon/*.qcML
/test/data_amplicon/*.vcf.gz
/test/data_amplicon/*.vcf.gz.tbi
/test/data_amplicon/*.GSvar
/test/data_amplicon/*_QCML.txt
/test/data_amplicon/*_cnvs_clincnv.tsv
/test/data_amplicon/*_lowcov.bed
/test/data_amplicon/*.igv
/test/data_amplicon/*.bedpe
/test/data_amplicon/*_ancestry.tsv
/test/data_amplicon/manta_evid/

/test/data_chrx/*.fastq.gz
/test/data_chrx/*.bam
/test/data_chrx/*.bam.bai
/test/data_chrx/*.cram
/test/data_chrx/*.cram.crai
/test/data_chrx/*.log
/test/data_chrx/*.qcML
/test/data_chrx/*.vcf.gz
/test/data_chrx/*.vcf.gz.tbi
/test/data_chrx/*.GSvar
/test/data_chrx/*_QCML.txt
/test/data_chrx/*_cnvs_clincnv.tsv
/test/data_chrx/*_cnvs_clincnv.seg
/test/data_chrx/*_mosaic_cnvs.tsv
/test/data_chrx/*_rohs.tsv
/test/data_chrx/*_lowcov.bed
/test/data_chrx/*.igv
/test/data_chrx/*.bedpe
/test/data_chrx/*_ancestry.tsv
/test/data_chrx/manta_evid/
/test/data_chrx/*_circos.png

/test/data_trio/*.GSvar
/test/data_trio/*.log
/test/data_trio/*.qcML
/test/data_trio/*.cram
/test/data_trio/*.cram.crai
/test/data_trio/*.vcf.gz
/test/data_trio/*.vcf.gz.tbi
/test/data_trio/*_special.tsv
/test/data_trio/*_upd.tsv
/test/data_trio/*_clincnv.tsv
/test/data_trio/manta_evid/
/test/data_trio/*_manta_var_structural.bedpe
/test/data_trio/*.bedpe

/test/data_multi/*.GSvar
/test/data_multi/*.log
/test/data_multi/*.qcML
/test/data_multi/*.cram
/test/data_multi/*.cram.crai
/test/data_multi/*.vcf.gz
/test/data_multi/*.vcf.gz.tbi
/test/data_multi/*_clincnv.tsv
/test/data_multi/manta_evid/
/test/data_multi/*.bedpe

/test/data_capa/*.GSvar
/test/data_capa/*.log
/test/data_capa/*_report.rtf
/test/data_capa/*_igv.xml
/test/data_capa/*_qcML.txt
/test/data_capa/*_lowcov.bed
/test/data_capa/Sample_GS150496_01/
/test/data_capa/Sample_GS150497_01/
/test/data_capa/Somatic_GS150497_01-GS150496_01/
/test/data_capa/Sample_Normal*/*_filtered.GSvar
/test/data_capa/Sample_Normal*/*_cnvs_filtered.tsv
/test/data_capa/Somatic_Tumor*/*_igv.xml
/test/data_capa/Somatic_Tumor*/*_report.rtf
/test/data_capa/Somatic_Tumor*/*.log
/test/data_capa/Somatic_Tumor*/*_cnvs_filtered.tsv
/test/data_capa/Somatic_Tumor*/*_filtered.GSvar

/test/data_rna/analyze_rna_out_se.log
/test/data_rna/analyze_rna_out_pe.log
/test/data_rna/analyze_rna_out_fu.log
/test/data_rna/paired_end/
/test/data_rna/single_end/
/test/data_rna/paired_end_fusion/

/test/data_somatic_rna/project_folder/
/test/data_somatic_rna/somatic_rna_out.log

/test/data_somatic_dna_rna/project_folder_*/
/test/data_somatic_dna_rna/results_*
/test/data_somatic_dna_rna/somatic_dna_rna_*.log

/test/data_somatic/out_*
/test/data_somatic/Sample_*/

/test/data_out/tool_test_*
/test/data_out/test_toolbase
/test/data_out/test_functions

/test/data_emed/Sample_GS160540_01/
/test/data_emed/Sample_GS160539_01/
/test/data_emed/Sample_I16R003a06_01/
/test/data_emed/Sample_I16R003a05_01/
/test/data_emed/results_emed1/
/test/data_emed/results_emed2/
/test/data_emed/*.GSvar
/test/data_emed/*.vcf.gz
/test/data_emed/*.tsv

/test/data_ivac/Sample_GS140850_02/
/test/data_ivac/Sample_GS140851_02/
/test/data_ivac/Sample_I14R010d01_01/
/test/data_ivac/Sample_I14R010d02_01/
/test/data_ivac/results_ivac1/
/test/data_ivac/results_ivac2/
/test/data_ivac/*.GSvar
/test/data_ivac/*.vcf.gz
/test/data_ivac/*.tsv
/test/data_ivac/*_qcML.txt
/test/data_trio/reanno
/test/data_multi/reanno
/test/data_chrx/*.vcf
/test/data_chrx/*.json

/test/data_cfdna/CFDNA_01/
/test/data_cfdna/CFDNA_02/
/test/data_somatic/expected_case2

/data/dbs/*/
/data/tools/ngsbits_settings.ini
/data/genomes/*/
/data/genomes/somatic_viral.fa.*

/test/data_longread/*.fastq.gz
/test/data_longread/*.cram
/test/data_longread/*.cram.crai
/test/data_longread/*.log
/test/data_longread/*.qcML
/test/data_longread/*.vcf.gz
/test/data_longread/*.vcf.gz.tbi
/test/data_longread/*.gvcf.gz
/test/data_longread/*.gvcf.gz.tbi
/test/data_longread/*.GSvar
/test/data_longread/*_cnvs_clincnv.tsv
/test/data_longread/*_cnvs_clincnv.seg
/test/data_longread/*_mosaic_cnvs.tsv
/test/data_longread/*_rohs.tsv
/test/data_longread/*_lowcov.bed
/test/data_longread/*.igv
/test/data_longread/*.bedpe
/test/data_longread/*_ancestry.tsv
/test/data_longread/clair_temp/
/test/data_longread/*_circos.png
/test/data_longread/merge_output.vcf
/test/data_longread/*_repeats.tsv
/test/data_longread/*_repeats.vcf
/test/data_longread/repeat_expansions
/test/data_longread/*_prs.tsv
/test/data_longread/*_repeats.bed
/test/data_longread/*.bed.gz
/test/data_longread/*.bed.gz.tbi
/test/data_longread/*_phasing_track.bed
/test/data_longread/*_modkit_summary.txt
/test/data_longread/*_var_modcall.vcf
/test/data_longread/*_prs.tsv
/test/data_longread/*_var_methylation.tsv
/test/data_longread/methylation
/test/data_longread/*.cov
/test/data_longread/*.mod.unmapped.bam


/test/data_trio_longread/*.fastq.gz
/test/data_trio_longread/*.cram
/test/data_trio_longread/*.cram.crai
/test/data_trio_longread/*.log
/test/data_trio_longread/*.qcML
/test/data_trio_longread/*.vcf.gz
/test/data_trio_longread/*.vcf.gz.tbi
/test/data_trio_longread/*.gvcf.gz
/test/data_trio_longread/*.gvcf.gz.tbi
/test/data_trio_longread/*.GSvar
/test/data_trio_longread/*_cnvs_clincnv.tsv
/test/data_trio_longread/*_cnvs_clincnv_cut.tsv
/test/data_trio_longread/*_cnvs_clincnv.seg
/test/data_trio_longread/*_mosaic_cnvs.tsv
/test/data_trio_longread/*_rohs.tsv
/test/data_trio_longread/*_lowcov.bed
/test/data_trio_longread/*.igv
/test/data_trio_longread/*.bedpe
/test/data_trio_longread/trio_upd.tsv
/test/data_trio_longread/*_phasing_track.bed
/test/data_trio_longread/*.csi

/test/data_multi_longread/*.fastq.gz
/test/data_multi_longread/*.cram
/test/data_multi_longread/*.cram.crai
/test/data_multi_longread/*.log
/test/data_multi_longread/*.qcML
/test/data_multi_longread/*.vcf.gz
/test/data_multi_longread/*.vcf.gz.tbi
/test/data_multi_longread/*.gvcf.gz
/test/data_multi_longread/*.gvcf.gz.tbi
/test/data_multi_longread/*.GSvar
/test/data_multi_longread/*_cnvs_clincnv.tsv
/test/data_multi_longread/*_cnvs_clincnv_cut.tsv
/test/data_multi_longread/*_cnvs_clincnv.seg
/test/data_multi_longread/*_mosaic_cnvs.tsv
/test/data_multi_longread/*_rohs.tsv
/test/data_multi_longread/*_lowcov.bed
/test/data_multi_longread/*.igv
/test/data_multi_longread/*.bedpe
/test/data_multi_longread/*_ancestry.tsv
/test/data_multi_longread/*.csi

/.idea

data/genomes/GRCh38.fa*
data/genomes/GRCh38.dict
data/misc/human_hemoglobin_tx.fa

data/tools/ngsbits_settings.ini
/test/data_longread/paraphase
/*.sif
Clair3-v1.0.10
/test/data_chrx/dragen
/test/data_longread/methylartist/*.png
/test/data_longread/23014LRa023_01_epigen.tsv
